@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --main_font: 'Open Sans', sans-serif;
    --second_font: 'Quicksand', sans-serif;
    --light_gray: #fcfcfe;
    --light_gray_200: #f0f0f0;
    --gray: #e6e6e1;
    --dark_gray: #acacac;
    --cyan: #004851;
    --light_cyan: #42838d;
    --dark_cyan: #00373e;
    --black: #2b2b2b;
    --orange: #f6ae06;
    --dark_orange: #da8b14;
    --red: #c91010;
    --blue: #065cac;
    --magenta: #d4005f;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--light_gray_200);
    font-family: var(--main_font);
}

button {
    cursor: pointer;
    border-style: none;
    outline: none;
}

select {
    padding: 7px 10px;
    font-size: 18px;
    border-style: none;
    cursor: pointer;
    background-color: #e9e9ed;
}

@media (hover: hover) {

    select:hover,
    select:focus {
        outline: 1px solid var(--light_cyan);
    }
}

main {
    flex-grow: 1;
}

.shadow {
    -webkit-box-shadow: 0px 5px 7px -6px #000000;
    box-shadow: 0px 5px 7px -6px #000000;
}

footer {
    margin-top: auto;
}